* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: left;
  background: #13293d;
  color: #d35848;
}

/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

nav {
  display: flex;
  background-color: #d35848;
  justify-content: right;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 20px;
  position: fixed;
  width: 25%;
  height: 100%;
} */

section {
  display: flex;
  flex: 3;
  background-color: #fff;
  padding: 20px;
  flex-wrap: wrap;
}

section p {
  margin-top: 5%;
}

button {
  height: 200px;
}

button:hover {
  box-shadow: #772014;
}

.big-button {
  width: 100%;
}

.little-button {
  display: flex;
  width: 48%;
  margin: 5px;
  justify-content: center;
}

.sample-img {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  height: 200px;
  border: 1px solid black;
}

footer {
  padding: 20px;
  text-align: right;
  background: #d35848;
  color: #13293d;
}

#password-generator {
  background-image: url("./images/password-generator.png");
  background-size: cover;
}

#weather-dashboard {
  background-image: url("https://github.com/nookworth/weather-dashboard/blob/main/assets/images/Weather-1.jpg?raw=true");
  background-size: cover;
}

#quickflix {
  background-image: url("./images/Quickflix.jpg");
  background-size: cover;
}

#dnd-meetups {
  background-image: url("./images/dnd-listing.jpg");
  background-size: 50% auto;
}

@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  main,
  nav {
    flex-direction: column;
  }
  /* Make the sidebar stack below the body */
  aside {
    order: 2;
  }
  /* Change the header background */
  header {
    background: #772014;
  }
  /* Change the navbar and footer background */
  nav,
  footer {
    background-color: #bb8588;
  }
}
